*{
	padding: 0px;
	margin: 0;
}

body{
	background-color: black;
	background-image: url("../img/back.jpg");
	background-position: cover;
	background-position: center center;
	font-family: 'Raleway', sans-serif;
	font-weight: 100;
}

#maincontent{
	margin: 0 auto;
	text-align: center;
	color: #FFFFFF;
	display: table;
	border-bottom: 4px double #FFF;
}

#maincontent h1{
	font-size: 4em;
	padding-top: 100px;
}

#maincontent h2{
	font-size: 3em;
}

#mail{
	padding-top: 10px;
	text-align: center;
	color: white;
	font-size: 2rem;
}

#sociales{
	margin: 0 auto;
	text-align: center;
}

#sociales a:before{
	margin: 5px;
	font-size: 1.5rem;
	color: #fff;
	padding: .5em;
	border-radius: 50%;
	border:1px solid white;
}

/* Movil */
@media (max-width: 480px) {
  	#maincontent h1{
		font-size: 2em;
		padding-top: 100px;
	}
	#maincontent h2{
	font-size: 1em;
	}
	#mail{
	font-size: 1rem;
	}
	#sociales a:before{
	font-size: .7rem;
	}
}

.selectedText {
  background: #f00;
}