@import url("https://fonts.googleapis.com/css?family=Noto+Sans:400,700");
@font-face {
  src: url(../fonts/intro-font.otf);
  font-family: intro; }

body {
  margin: 0;
  padding: 0; }

#content-body {
  max-width: 800px;
  width: 100%;
  margin: 0 auto; }

button, .btn.active.focus, .btn.active:focus, .btn.focus, .btn.focus:active, .btn:active:focus, .btn:focus {
  outline: none !important;
  outline-offset: -2px !important; }

footer {
  background: #000;
  font-family: "Noto Sans", serif;
  padding-top: 23px;
  padding-bottom: 23px;
  color: #fff;
  text-align: center; }
  footer p {
    font-size: .9em; }

#pre-footer {
  margin-top: 40px;
  margin-bottom: 40px;
  font-family: "Noto Sans", serif;
  text-align: center; }
  #pre-footer h5 {
    font-family: "Noto Sans", serif;
    font-size: 1.8em;
    padding-bottom: 5px;
    margin-bottom: 5px; }
  #pre-footer p {
    font-family: "Noto Sans", serif;
    font-size: 1.3em;
    margin-bottom: 14px; }
  #pre-footer a {
    font-size: 1.6em;
    color: #D07193; }

#main-banner {
  padding: 15px;
  padding-top: 80px;
  padding-bottom: 50px; }
  #main-banner #main-info, #main-banner #main-img {
    float: left; }
  #main-banner #main-info {
    width: 50%; }
    #main-banner #main-info h1 {
      padding-top: 30px;
      font-size: 3.5em;
      font-family: intro;
      font-weight: 900;
      letter-spacing: 3px;
      text-transform: uppercase;
      vertical-align: baseline;
      letter-spacing: 1px;
      margin-bottom: 5px; }
    #main-banner #main-info h4 {
      font-family: "Noto Sans", serif;
      padding-right: 20px;
      font-size: 1.2em;
      padding-top: 0px;
      vertical-align: baseline;
      letter-spacing: .8px;
      line-height: 1.6;
      margin-top: 10px; }
  #main-banner #main-img {
    width: 50%; }
    #main-banner #main-img img {
      width: 100%;
      height: auto; }

@media (max-width: 782px) {
  #main-banner {
    padding-top: 50px;
    padding-bottom: 0px;
    margin-bottom: 0px !important;
    display: block;
    margin: 0px; }
    #main-banner #main-info {
      float: none;
      width: 100%;
      display: block; }
      #main-banner #main-info h1 {
        padding: 0px; }
      #main-banner #main-info h4 {
        padding: 0px;
        margin-top: 0px; }
    #main-banner #main-img {
      display: none; } }

.element {
  padding: 15px;
  padding-top: 0px;
  padding-bottom: 0px; }
  .element .element-title {
    font-size: 1.1em;
    padding-bottom: 15px;
    text-transform: uppercase;
    vertical-align: baseline;
    font-weight: 600;
    color: #D07193;
    font-family: "Noto Sans", serif;
    font-weight: 700;
    padding-bottom: 0px; }
  .element .element-text {
    font-family: "Noto Sans", serif;
    margin-top: 15px;
    font-size: .93em; }

#skills a {
  font-family: "Noto Sans", serif;
  margin-bottom: 10px;
  background: #fff;
  font-size: 300;
  border: 1px solid rgba(0, 0, 0, 0.3); }

#links a {
  text-decoration: none;
  padding-right: 15px; }
  #links a span {
    color: #868da0;
    font-size: 2em; }
    #links a span:hover {
      color: black; }

#whatIDo:after {
  content: "";
  display: table;
  clear: both; }

#whatIDo .w-element {
  width: 33.3%;
  float: left;
  margin-bottom: 15px; }
  #whatIDo .w-element .w-element-content {
    padding: 15px;
    padding-top: 0px;
    padding-bottom: 0px;
    padding-left: 0px; }
    #whatIDo .w-element .w-element-content h4 {
      font-size: 1.3em;
      font-family: "Noto Sans", serif;
      font-weight: 300;
      margin-top: 3px;
      margin-bottom: 3px; }
    #whatIDo .w-element .w-element-content p {
      color: #646464;
      font-family: "Noto Sans", serif;
      margin-top: 15px;
      font-size: .93em; }

@media (max-width: 700px) {
  #whatIDo .w-element {
    width: 100%; } }
