@import url("https://fonts.googleapis.com/css?family=Lato");
@import url("https://fonts.googleapis.com/css?family=Crimson+Text");
body {
  margin: 0;
  padding: 0; }

#content-body {
  max-width: 800px;
  width: 100%;
  margin: 0 auto; }

button, .btn.active.focus, .btn.active:focus, .btn.focus, .btn.focus:active, .btn:active:focus, .btn:focus {
  outline: none !important;
  outline-offset: -2px !important; }

footer {
  background: #1C222F;
  font-family: "Lato", sans-serif;
  padding-top: 23px;
  padding-bottom: 23px;
  color: #fff;
  text-align: center; }

#pre-footer {
  margin-top: 40px;
  margin-bottom: 40px;
  font-family: "Lato", sans-serif;
  text-align: center; }
  #pre-footer h5 {
    font-family: "Lato", sans-serif;
    font-size: 1.8em;
    padding-bottom: 5px;
    margin-bottom: 5px; }
  #pre-footer p {
    font-family: "Crimson Text", serif;
    font-size: 1.3em;
    margin-bottom: 5px; }
  #pre-footer a {
    font-size: 1.6em;
    color: #D07193; }

#main-banner {
  padding: 15px;
  padding-top: 80px;
  padding-bottom: 30px; }
  #main-banner #main-info, #main-banner #main-img {
    float: left; }
  #main-banner #main-info {
    width: 50%; }
    #main-banner #main-info h1 {
      padding-top: 20px;
      font-size: 2.5em;
      font-family: "Lato", sans-serif;
      font-weight: 900;
      letter-spacing: 3px;
      text-transform: uppercase;
      vertical-align: baseline; }
    #main-banner #main-info h4 {
      font-family: "Lato", sans-serif;
      font-size: 1.5em;
      padding-top: 15px;
      vertical-align: baseline;
      letter-spacing: .8px;
      line-height: 1.6;
      font-family: "Crimson Text", serif; }
  #main-banner #main-img {
    width: 50%; }
    #main-banner #main-img img {
      width: 100%;
      height: auto; }

@media (max-width: 782px) {
  #main-banner {
    padding-top: 50px;
    padding-bottom: 0px;
    margin-bottom: 0px !important;
    display: block;
    margin: 0px; }
    #main-banner #main-info {
      float: none;
      width: 100%;
      display: block; }
      #main-banner #main-info h1 {
        padding: 0px; }
      #main-banner #main-info h4 {
        padding: 0px;
        margin-top: 0px; }
    #main-banner #main-img {
      display: none; } }

.element {
  padding: 15px;
  padding-top: 0px;
  padding-bottom: 0px; }
  .element .element-title {
    font-size: 1.1em;
    padding-bottom: 15px;
    text-transform: uppercase;
    vertical-align: baseline;
    font-weight: 600;
    color: #D07193;
    font-family: "Lato", sans-serif;
    padding-bottom: 0px; }
  .element .element-text {
    font-family: "Crimson Text", serif;
    font-size: 1.1em; }

#skills a {
  font-family: "Lato", sans-serif;
  margin-bottom: 10px;
  background: #fff;
  border: 1px solid rgba(0, 0, 0, 0.3); }

#links a {
  text-decoration: none;
  padding-right: 15px; }
  #links a span {
    color: #868da0;
    font-size: 2em; }
    #links a span:hover {
      color: #a2acc4; }
