.element{
	padding: 15px;
	padding-top: 0px;
	padding-bottom: 0px;
	.element-title{
		font-size: 1.1em;
		padding-bottom: 15px;
		text-transform: uppercase;
		vertical-align: baseline;
		font-weight: 600;
		color: $alternative;
		font-family: $noto;
		font-weight: 700;
		padding-bottom: 0px;
	}
	.element-text{
		font-family: $noto;
		margin-top: 15px;
		font-size: .93em;
	}
}
