footer{
	background: $background-color;
	font-family: $lato;
	padding-top: 23px;
	padding-bottom: 23px;
	color: #fff;
	text-align: center;
}
#pre-footer{
	margin-top: 40px;
	margin-bottom: 40px;
	font-family: $lato;
	text-align: center;
	h5{
		font-family: $lato;
		font-size: 1.8em;
		padding-bottom: 5px;
		margin-bottom: 5px;
	}
	p{
		font-family: $crimson;
		font-size: 1.3em;
		margin-bottom: 5px;
	}
	a{
		font-size: 1.6em;
		color: #D07193;
	}	
	
}